<div class="container"> 
  <h1>Profile</h1> 
  <div class="datails"> 
    <div class=" text-xs-center"> 
        <br> 
      
        <div class="card-block"> 
          <h4 class="card-title">User Details</h4> 
          <p class="card-text"> 
              <strong>Name</strong>: <%= name %><br> 
              <strong>Email</strong>: <%= email %><br>
          </p> 
          <a href="/logout" class="btn btn-dark">Logout</a> 
        </div> 
    </div> 
  </div> 